
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background:rgb(171, 171, 248);
    padding: 30px;
    color: #222;
}

.head {
    max-width: 800px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

header>h1 {
    font-size: 24px;
    color: #0a0707;
    text-transform: uppercase;
    margin-left: 300px;
}

.small{
    font-size: 15px;
    color: #0f1116;
    margin-right: 50px;
}

.card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 2px 6px 2px grey;
    padding: 20px;
}


.row {
  display: flex;
  height: 40px;
  gap: 10px;
  margin-bottom: 20px;
}

.row>input {
    flex: 1;
    padding: 10px 12px;
    border-radius: 10px;
    border: 2px solid #0a0a0a;
    font-size: 17px;
}

/* Buttons */
.add{
    border: none;
    padding: 10px 14px;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #6c5ce7;
    color: #fff;
}
.add:hover {
    background-color: #9e95e3;
    color: #0a0707;
}
.reset {
    border: none;
    padding: 10px 14px;
    border-radius: 15px;
    font-size: 15px;
    background-color: #ef4444;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
.reset:hover {
    background-color: #f17b7b;
    color: #0a0707;
}


.habit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #edf0f4;
  padding: 12px 16px;
  height: 45px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #0c0d0e;
  transition: background 0.3s;
}

.habit:hover {
  background: #c4dbf1;
}

.habit>h3 {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.actions {
  display: flex;
  gap: 10px;
}

.select{
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.delete{
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.select{
  background-color: #3b82f6;
  color: #fff;
}
.select:hover {
  background-color: #6ea8ff;
}

.delete{
  background-color: #ef4444;
  color: white;
}
.delete:hover {
  background-color: #ff7b7b;
}


.checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid #4e5156;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox.checked {
  background-color: #22c55e;
  border-color: #1eb856;
  color: rgb(150, 27, 27);
  font-weight: bold;
}


footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  font-size: 14px;
  color: #6b7280;
}

.note {
  font-style: italic;
  color: #111827;
}

.date>span {
  color: #111827;
  font-weight: 500;
}

/* Responsive */
@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}
